$inuit-enable-btn--small:   true;
$inuit-enable-btn--large:   true;
$inuit-enable-btn--full:    true;
$inuit-enable-btn--pill:    true;

@import "./node_modules/inuit-buttons/objects.buttons";

.btn--disabled {
    background-color: grey;
}
